@import url(variable.css);
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-5);
}

.h1__titulo{
    margin: 20px;
    color: white;
    font-family: "Inter_18pt-Bold";
    font-size: 1.3cm;
}

.p1__descripcion{
    margin: 20px;
    color: #1e1e1e;
    font-family: "Inter_18pt-Bold";
    font-size: 1.5rem;
}

.img-1 {
    position: relative;
    top: 10px
}


.img-2 {
    position: relative;
    right: 200px;
}

.img-3 {
    position: relative;
    left: 240px;
}